<h1><%= @post.title %></h1>
<h3><% @post.categories.each do |c| %>
    <%= c.name %> 
<% end %></h3>
<p><%= @post.content %></p>
        
<h3>Comments: </h3>
<% @post.users.uniq.each do |user| %>
    <%= link_to user.username, user %> says: 
    <% user.comments.each do |comment| %>
        <li><%= comment.content %></li>
    <% end %>
<% end %>


<h3>Leave a Comment: </h3>
<%= form_for @post.comments.build do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>

    Select User: <%= f.collection_select :user_id, @users, :id, :username, include_blank: "" %><br>

    <%= f.fields_for :user, @post.users.build do |u| %>
        <%= u.label :username, 'Create New User: ' %>
        <%= u.text_field :username %><br>
    <% end %>

    <%= f.label :content, 'Comment: ' %>
    <%= f.text_area :content %><br>

    <%= f.submit %>
<% end %>